{% extends "base.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/posts.css' %}">
    <!-- JavaScript link -->
    <script type="module" src="{% static 'posts/js/posts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container homeContainer">
        <div class="row">
            <div class="col text-center">
                <h1>See if you can understand some of these concepts</h1>
            </div>
        </div>
        <!-- SLider utilizing root-dir script -->
        <div class="postBanner reviewsBanner d-flex justify-content-center align-items-center flex-column">
            {% include "posts/includes/post_slider.html" %}
        </div>
        <div class="postBanner reviewsBanner d-flex justify-content-center align-items-center flex-column">
            {% include "posts/includes/post_slider2.html" %}
        </div>
    </div>
{% endblock %}