{% extends "base.html" %}

{% load static %}

{% block title %}
   {{ post.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'posts/css/post_single.css' %}">
{% endblock %}

{% block content %}
<div class="contaier-fluid">
    <div class="row">
        <!-- Post outlay left side -->
        <!-- Post outlay left side -->
        <div class="col main_post">
            <section id="summary">
                <h2>{{ post.title }}</h2>
                <p>{{ post.about }}</p>
                <div class="d-flex justify-content-between">
                    <div>
                        Posted: <time>{{ post.date|date:"d M Y" }}</time>
                    </div>
                    <!-- TODO Create a link to private message author -->
                    <address>
                        {% if post.author == None %}By: Anonymous autor{% else %}By: <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a>{% endif %}
                    </address>
                </div>
                <!-- <div>
                    <span class="tag">HOT</span>
                </div> -->
                <div class="postImageContainer">
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt="{{ post.title }}">
                        {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" alt="No image">
                    {% endif %}
                </div>
            </section>
            <main>
                {{ post.content }}
            </main>
        </div>
    </div>
</div>
{% endblock %}