{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block title %}
    Create Post
{% endblock %}

{% block content %}
<div class="container-fluid mainContainer">
    <div class="row">
        <div class="col">
            <form enctype="multipart/form-data" action="{% url 'post_create' %}" method="POST">
                <h3>Create a post.</h3>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
{% endblock %} 