{% extends "base.html" %}

{% load static %}

{% block title %}
   {{ post.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'posts/css/post_thread.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Post outlay left side -->
        <!-- Post outlay left side -->
        <div id="post_spread" class="col col-md-8">
            {% include 'posts/includes/post_single.html' %}
        </div>
        <!-- Post comments right side  -->
        <!-- Post comments right side  -->
        <div class="col border commentThread">
            <!-- TODO add to comment_thread -->
        </div>
    </div>
{% endblock %}