{% extends "base.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/post_home.css' %}">
    <!-- JavaScript link -->
    <script type="module" src="{% static 'posts/js/posts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center ">
            <div class="col">
                <h1 class="homeTitle">
                    Recent Concepts
                </h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3 ">
            <div class="col carouselCol position-relative ">
                <div class="carouselContainer ">
                    <div class="blueBlock">
                    </div>
                    <div class="swipeIcon">
                        <img src="{% static 'images/swipe-right-icon.svg' %}" alt="">
                    </div>
                    <div class="card-carousel">
                        {% for post in recent_posts %}
                        {% include 'posts/includes/recent_post_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5  d-flex justify-content-center ">
            <div class="leftCarousel">
                <img src="{% static 'images/welcome_brain.png' %}" alt="">
            </div>
            <div class="rightCarousel">
                {% include 'posts/includes/create_post_card.html' %}
            </div>
        </div>
    </div>
{% endblock %}