{% load static %}

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>Inbox</h1>
        </div>
    </div>
    <div class="row">
        <div class="col ps-0 pe-0 ">
            <form action="{% url 'inbox' %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search username" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    name="q" id="searchInput" autocomplete="off" placeholder="Search...">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Messages Scroll Container -->
    <div class="row mt-3 mb-3 rowScrollContainer custom-scrollbar">
        <div class="col border mh-100 messageScrollContainer">
            {% if matched_users %}
                <div id="searchResults">
                    {% for user in matched_users %}
                    <form action="{% url 'inbox' %}" method="post">
                        {% csrf_token %}
                        <button class="w-100 border-0" name="selected_username" value="{{ user.username }}" type="submit">
                            <div id="messageCell" class="row p-2
                            messageCell {% if last_message.read == False and last_message.receiver_id == current_user %}unreadMessage {% endif %}">
                                <div class="flexContianer w-100 d-flex align-items-baseline   ">
                                    <div class="">
                                        {% if user.profile.profile_picture %}
                                            <img src="{{ user.profile.profile_picture.url }}" alt="Sender Profile Picture">
                                            {% else %}
                                            <img src="{% static 'images/person-circle.svg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="ms-auto me-auto ">
                                        <p class="userUsername">{{ user.username }}</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                    {% endfor %}
                </div>
            {% elif recent_messages %}
                {% for user, last_message in recent_messages.items %}
                    <form action="{% url 'inbox' %}" method="post">
                        {% csrf_token %}
                        <button class="w-100 border-0" name="selected_username" value="{{ user.username }}" type="submit">
                            <div id="messageCell" class="row p-2
                            messageCell {% if last_message.read == False and last_message.receiver_id == current_user %}unreadMessage {% endif %}">
                                <div class="flexContianer w-100 d-flex align-items-baseline   ">
                                    <div class="">
                                        {% if user.profile.profile_picture %}
                                            <img src="{{ user.profile.profile_picture.url }}" alt="Sender Profile Picture">
                                            {% else %}
                                            <img src="{% static 'images/person-circle.svg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="ms-auto me-auto ">
                                        <p class="userUsername">{{ user.username }}</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                {% endfor %}
            {% else %}
            <h2>Looks like you don't have any messages, search for a contact!</h2>
            {% endif %}
        </div>
    </div>
</div>