{% load static %}

<!-- Banner Row -->
<div class="row messageDisplayBannerRow">
    <!-- Profile Picture Col -->
    <div class="col">
        {% if display_message.sender.profile.profile_picture %}
            <img src="{{ display_message.sender.profile.profile_picture.url }}" alt="Sender Profile Picture">
            {% else %}
            <img src="{% static 'images/no-image.jpg' %}" alt="No image">
        {% endif %}
    </div>
    <!-- User Information -->
    <div class="col">
        <h3>{{ display_message.sender }}</h3>
    </div>
</div>
<!-- Display Message Content and History -->
<div class="row convoContainer">
    <div class="col">
        {% for message in message_thread %}
            {% if message.sender == current_user %}
                <div class="border messageGreen text-end w-100 ms-auto">
                    <p class="convoSenderGreen">{{ message.sender }}</p>
                    <p class="convoContentGreen">{{ message.content }}</p>
                    {% if message.sent_at|time:"H" < "12" %}
                        <p class='convoTimeGreen'>{{ message.sent_at|time:"h:i A" }}</p>
                    {% else %}
                        <p>{{ message.sent_at|time:"h:i A" }}</p>
                    {% endif %}
                </div>
            {% else %}
                <div class="border messageBlue">
                    <p class="convoSender">{{ message.sender }}</p>
                    <p class="convoContent">{{ message.content }}</p>
                    {% if message.sent_at|time:"H" < "12" %}
                        <p class='convoTime'>{{ message.sent_at|time:"h:i A" }}</p>
                    {% else %}
                        <p>{{ message.sent_at|time:"h:i A" }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <!-- TODO For each message in messages where sender and reciver are equal, in order of date create a tab representing a message -->
    </div>
</div>
<!-- Reply Form -->
<div class="row">
    <div class="col">
        <!-- TODO Create a simple messaging form for a easy reply -->
    </div>
</div>