{% load static %}

<!-- TODO: Add javascript so that the overflow-y scroll container start from the bottom instead of the top-->

<!-- Banner Row -->
<div class="row messageDisplayBannerRow">
    {% if selected_user %}
        <!-- Profile Picture Col -->
        <div class="col flex-grow-0 ">
            {% if selected_user.profile.profile_picture %}
                <img src="{{ selected_user.profile.profile_picture.url }}" alt="Sender Profile Picture">
                {% else %}
                <img src="{% static 'images/person-circle.svg' %}" alt="">
            {% endif %}
        </div>
        <div class="col">
            <h3>{{ selected_user }}</h3>
        </div>
    {% endif %}
</div>
<!-- Display Message Content and History -->
<div class="row convoContainer custom-scrollbar">
    <div class="col messageHistorySection">
            <!-- If there is a conversation beween current user and the searched user from search bar. -->
            {% if conversation %}
                {% for message in conversation %}
                    {% if message.sender == current_user %}
                        <div class="message yourMessage text-end w-100 ms-auto">
                            <p class="yourMessageContent">{{ message.text }}</p>
                            {% if message.sent_at|time:"H" < "12" %}
                                <p class='sentTime'>{{ message.sent_at|time:"h:i A" }}</p>
                            {% else %}
                                <p class='sentTime'>{{ message.sent_at|time:"h:i A" }}</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="message messageBlue">
                            <p class="messageContent">{{ message.text }}</p>
                            {% if message.sent_at|time:"H" < "12" %}
                                <p class='sentTime'>{{ message.sent_at|time:"h:i A" }}</p>
                            {% else %}
                                <p class='sentTime'>{{ message.sent_at|time:"h:i A" }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="message ">
                    <p>Admin</p>
                    <p class="messageContent">Be the first to say hello</p>
                    <p class='convoTimeGreen'>Now</p>
                </div>
            {% endif %}
    </div>
</div>
<!-- Reply Form -->
<div class="row">
    <div class="col replyMessage">
            <form method="post" action="{% url 'create_message' %}" class="form-container">
                {% csrf_token %}
                <input type="hidden" name="receiver_username" value="{{ selected_user.username }}">
                <textarea name="message" placeholder="Enter your message"></textarea>
                <button type="submit" class="btn btn-outline-secondary border-0 ">Send</button>
            </form>
    </div>
</div>