{% load static %}

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h3>Inbox</h3>
        </div>
        <div class="col">
            <form action="{% url 'create_message' %}" method="post">
                {% csrf_token %}
                <button type="submit"  class="btn btn-primary">New Message</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- your_template.html -->
            <form action="{% url 'inbox' %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    name="q" id="searchInput" autocomplete="off" placeholder="Search...">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div id="searchResults">
                {% for user in matched_users %}
                    <form method="post" action="{% url 'inbox' %}">
                        {% csrf_token %}
                        <input type="hidden" name="selected_username" value="{{ user.username }}">
                        <button type="submit">{{ user.username }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Messages Scroll Container -->
    <div class="row mt-3 mb-3 messageScrollContainer">
        <div class="col border">
            {% for user in unique_senders %}
                <form action="{% url 'inbox' %}" method="post">
                    {% csrf_token %}
                    <div id="messageCell" class="row p-2 {% if message.unopened == False %}unreadMessage {% endif %} messageCell">
                        <div class="col-auto">
                            {% if user.profile.profile_picture %}
                                <img src="{{ user.profile.profile_picture.url }}" alt="Sender Profile Picture">
                                {% else %}
                                <img src="{% static 'images/no-image.jpg' %}" alt="No image">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>{{ user.username }}</p>
                                    <button class="btn btn-primary" name="selected_username" value="{{ user.username }}" type="submit">Open</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            {% endfor %}
        </div>
    </div>
</div>