{% load static %}

<div class="cardContainer">
    <form class="" action="
    {% if post.slug is not None %}
        {% url 'post_single' slug=post.slug %}
    {% else %}
    {% endif %}" method="GET">
        <button type="submit" class="">
            <div class="card">
                <div class="image-container">
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt="Post Image">
                    {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" alt="No image available">
                    {% endif %}
                </div>
                <h2>{{ post.title }}</h2>
                <p class="aboutText">{{ post.about }}</p>
            </div>
        </button>
    </form>
</div> 

