{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row loginRegisterContainer">
        <div class="col col-md-6 leftCol d-flex align-items-center justify-content-center">
            <form action="{% url 'login_user' %}" method="post" class="loginForm p-3">
                {% csrf_token %}
                <h3 class="text-center loginTitle mb-2 ">Welcome Back</h3>
                <div class=" mt-3 ">
                    {{ form|crispy }}
                </div>
                <p class="mt-2 text-center "><a class="text-black" href="{% url 'password-reset' %}">Forgotten Password?</a></p>
                <button type="submit" class="btn btn-primary submitButton">Login</button>
            </form>
            <div ></div>
        </div>
        <div class="col col-md-6">
            <div class="loginImageContainer d-flex align-items-center">
                <img src="{% static 'images/welcome_brain.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}