{% extends "base.html" %}

{% load static %}

{% block title %}
    Welcome
{% endblock %}

{% block head %}
    <!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/welcome.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <!-- Landing Page -->
        <div class="row banner">
            <div class="col">
                <div class="row align-items-start">
                    <div class="col position-relative mt-5 ">
                        <div class="heroLogoContainer ">
                            <img src="{% static 'images/welcome_brain.png' %}" alt="Brain outline" class="grey-wash">
                        </div>
                        <h1 class="overlay-text">CONCEPT</h1>
                        <p class="overlay-text-p">Improve you're learning ability</p>
                    </div>
                </div>
                <!-- <div class="row text-center">
                    <div class="col signupButtonCol">
                        <div class="button btn btn-primary ms-auto signupBtn">
                            Signup
                        </div>
                    </div>
                </div>                 -->
            </div>
        </div>
        <!-- Marketing Slider -->
        <div class="row banner sliderBanner">
            {% include "users/includes/slider.html" %}
        </div>
        <!-- Reviews Slider -->
        <div class=" row banner reviewsBanner ">
            {% include "users/includes/reviews_slider.html" %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- Reviews Script Tags -->
    <script src="https://kit.fontawesome.com/48764efa36.js" crossorigin="anonymous"></script>
{% endblock %}