{% extends "base.html" %}

{% block title %}
    Create Message
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col col-8 ms-auto me-auto justify-content-center">
            <div class="row ">
                <form action="{% url 'create_message' %}" method="POST">
                    <h3 class="text-center">Create a message</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %} 