{% extends "base.html" %}

{% load static %}

{% block title %}
    Inbox
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'messaging/css/inbox.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row d-flex  justify-content-center flex-wrap  mainRow">
            <!-- All Messages -->
            <div class="col-4 me-2 mb-2  messagesContainer justify-content-center  flex-grow-1 ">
                {% include 'messaging/includes/all_messages.html' %}
            </div>
            <!-- Message Display -->
            <div class="col-7 flex-grow-1  mb-2  me-2  displayMessageContainer justify-content-center">
                {% include 'messaging/includes/display_message.html' %}
            </div>
        </div>
    </div>
{% endblock %}