.loginRegisterContainer{
    background-color: var(--primary-blue);
    min-height: calc(100vh - 146px);
}

.loginForm {
    border-radius: 1rem;
}

.loginForm h3{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-shadow: 0 2px 15px rgba(0,0,0,0.5);
}

.loginImageContainer {
    height: 100%;
    padding: 2rem;
}

.loginImageContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.heroLogoContainer {
    height: 20rem;
    display: flex;
    justify-content: center;
}

.form-label {
    font-size: 1.2rem;
    font-weight: 700;
}

.submitButton {
    display: block;
    background-color: black;
    width: 100%;
    font-weight: 600;
}

.submitButton:hover {
    border: white;
}