@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap");

:root {

    /* Custom colours */
    --primary-pink: #f2aeb1;
    --primary-blue: #1987ff;
    --primary-grey: #cccccc;

    --secondary-blue: #1988ff9d;
    --secondary-grey: rgb(231, 227, 227);

    --secondary-fade: rgba(0, 0, 0, 0.02);

}

body {
    background-color: var(--primary-blue);
    position: relative;
    padding-bottom: 100px;

}
/* Navbar */
/* Navbar */

header {
    margin: 0;
    padding: 0;
    min-height: 56px;

}

.navbar {
    background-color: white;
}

.navbarContainer {
    max-width: 1100px;
}


.navLogo {
    height: 3rem;
    width: 3rem;
    margin-right: 3px;
}

.navLogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.navbarLogoText {
    font-weight: 900;
}

.nav-item a {
    font-weight: 600;
}

.nav-item-text a:hover {
    display: inline-block;
    transform: scale(1.4);
}

.nav-item a svg:hover {
    font-weight: 600;
    transform: scale(1.4);
    color: var(--primary-blue);
}


#navbarSupportedContent {
    margin-left: 1rem;
}
/* Footer */
/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
}

.footerLogo {
    height: 3rem;
    width: 3rem;
    margin-right: 3px;
}

.footerLogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.footerLogoText {
    font-weight: 900;
    text-decoration: none;
    color: black;
}
