/* messages */
/* messages */

.messagesContainer {
    min-height: 100vh;
    border-radius: 10px;
    border: 2px solid black;
}

.messagesContainer img {
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
}

.messageCell {
    border: 1px solid black;
    border-radius: 5px;
}

.unreadMessage {
    background-color: lightgray;
}

.messageScrollContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

/* display_message.html */
/* display_message.html */


.displayMessageContainer {
    min-height: 100vh;
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightgray;
    padding: 1rem 3rem;
}

.messageDisplayBannerRow {
    background-color: white;
}

.messageDisplayBannerRow img {
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
}

.messageBlue {
    padding: 1rem;
    
}
.messageBlue p {
    margin: 0;
}

.convoContent {
    background-color: lightgreen;
    padding: .5rem;
    width: ;
    display: inline-block;
    max-width: 90%;
    border-radius: 1rem 1rem 1rem 0;
}

.messageGreen {
    margin-left: auto;
}

.messageGreen p {
    margin: 0;
}

.convoContentGreen {
    background-color: rgb(249, 242, 242);
    padding: .5rem;
    width: ;
    display: inline-block;
    max-width: 90%;
    border-radius: 1rem 1rem 0 1rem;
}

.convoContainer {
    overflow-y: scroll;
    max-height: 35rem;
}