/* .pageContainer {
    min-height: calc(100vh - 4rem);
} */

.mainRow {
    margin-top: 2rem;
}
/* messages */
/* messages */

/* Left panel containing all messages */
.messagesContainer {
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.messagesContainer img {
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
}

/* Individual message in message container */
.messageCell {
    /* border: 1px solid black; */
    border-radius: 5px;
}

.unreadMessage {
    background-color: lightgray;
}

.messageScrollContainer {
    /* border: 1px solid black; */
    overflow-y: scroll;
    border-radius: 5px;
}

/* display_message.html */
/* display_message.html */


.displayMessageContainer {
    /* height: 100%; */
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightgray;
    padding: 1rem 3rem;
}

.messageDisplayBannerRow {
    background-color: white;
}

.messageDisplayBannerRow img {
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
}

.messageBlue {
    padding: 1rem;
    
}
.messageBlue p {
    margin: 0;
}

.convoContent {
    background-color: lightgreen;
    padding: .5rem;
    display: inline-block;
    max-width: 90%;
    border-radius: 1rem 1rem 1rem 0;
}

.messageGreen {
    margin-left: auto;
}

.messageGreen p {
    margin: 0;
}

.convoContentGreen {
    background-color: rgb(249, 242, 242);
    padding: .5rem;
    display: inline-block;
    max-width: 90%;
    border-radius: 1rem 1rem 0 1rem;
}

.convoContainer {
    overflow-y: scroll;
    max-height: 100%;
    height: 30rem;
}

/* Reply section */
/* Reply section */

.replyMessage {
    height: 6rem;
    background-color: white;
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: space-between; /* To create space between elements */
    align-items: center; /* Align items vertically in the center */
    margin: 1rem 0 ;
    border: none;
}

.form-container textarea {
    height: 100%;
    flex: 1; /* Take up remaining space */
    resize: none; /* Disable textarea resize handle */
    padding: 10px; 
    /* Adjust padding as needed */
    margin-right: 10px; /* Add margin between textarea and button */
    border: none;
    overflow-y: hidden;
    outline: none;
}