<h1 class="reviewsTitle">Reviews</h1>
<div id="album-rotator">
<div id="album-rotator-holder">
    <div target="_top" class="album-item">
        <span class="album-details">
            <span class="title text-center">Amazing!</span>
            <span class="subtitle">Follow</span>
            <span class="subtext">On Twitter</span>
        </span>
    </div>
    <div target="_top" class="album-item">
        <span class="album-details">
            <span class="title">Read the</span>
            <span class="subtitle">Tutorial</span>
            <span class="subtext">View tutorial for this effect</span>
        </span>
    </div>
    <div target="_top" class="album-item">
        <span class="album-details">
            <span class="title">Finally</span>
            <span class="subtitle">We Go</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </div>
    <div target="_top" class="album-item">
        <span class="album-details">
            <span class="title">And</span>
            <span class="subtitle">One More</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </div>
    <div class="album-item">
        <span class="album-details">
            <span class="title">And</span>
            <span class="subtitle">Finally..</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </div>
</div>
</div>
