* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    background-color: var(--primary-blue);
}

.navbar {
    background-color: white;
}

.visuallyhidden {
position: absolute;
z-index: -1;
right: 0;
opacity: 0;

}

.carouselCol {
    max-width: 1100px;
}

.leftCarousel {
    max-width: 350px;
}

.leftCarousel img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.rightCarousel {
    max-width: 350px;
}

.blueBlock {
    background-color: var(--primary-blue);
    height: 3rem;
    width: 4rem;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
}

.swipeIcon {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 15%;
    color: black;
    height: 4rem;
    width: 4rem;
}

.swipeIcon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carouselContainer {
    overflow: hidden;
    padding: 20px;
    position: relative;
    margin: 0 auto;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}



.card-carousel .card {
    background: white;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start
}


.card.highlight {
    filter: brightness(1)
}

.image-container {
    width: 7rem;
    height: 7rem;
    /* position: relative; */
    /* background-size: cover; */
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid black;
}

.image-container img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutText {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card h2 {
    text-align: center;
    font-weight: 900;
    /* text-shadow: 0 2px 5px rgba(0,0,0,0.5); */
}

/* Button to create post under title */
.createButton {
    background-color: black;
    font-weight: 700;
    padding: 1rem 2rem;
    
}

.homeTitle {
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    margin-top: 1rem;
    /* color: var(--primary-blue) */
}



@media (max-width: 780px) {
    
    .swipeIcon {
        display: none;
    }

  }