{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Will be main page row -->
    <div class="row rowContainer">
        <div class="col" id="userPosts">
            {% if user_posts %}
                    {% for post in user_posts %}
                        {% if forloop.counter == 2 %}
                            {% include 'profiles/includes/profile_card.html' %}
                        {% else %}
                            {% include 'profiles/includes/post.html' %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}