{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Will be main page row -->
    <div class="row rowContainer">
        <div class="col" id="userPosts">
            <!-- Create Post card -->
            {% include 'profiles/includes/create_post_card.html' %}
            <!-- Profile Card -->
            {% include 'profiles/includes/profile_card.html' %}
            {% if user_posts %}
                    {% for post in user_posts %}
                        <!-- Post Card -->
                        {% include 'profiles/includes/post_card.html' %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}