.registerContainer{
    /* border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 5px 2px 5px 2px;
    margin: 1.5rem 3rem; */
    min-height: calc(100vh - 146px);
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;

}

.registerForm {
    border-radius: 1rem;
    min-width: 320px;
}

.registerForm h3{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-shadow: 0 2px 15px rgba(0,0,0,0.5);
}

.leftCol {
    /* background-color: var(--primary-blue);
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    position: relative; */
    align-self: center;
}

.rightCol {
    padding: 0 3rem;
    align-self: center;
    min-width: 350px;
}

.registerImageContainer {
    height: 100%;
    padding: 2rem;
    min-width: 340px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.registerImageContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.heroLogoContainer {
    height: 20rem;
    display: flex;
    justify-content: center;
}

input:hover {
    border-color: white;
    box-shadow: 0 0 6px;
}

.form-label {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-text {
    color: white;
}

.submitButton {
    display: block;
    /* margin-left: auto; */
    background-color: black;
    width: 100%;
    font-weight: 600;
}

.submitButton:hover {
    border: white;
}

/* Title over hero logo */
.overlay-text {
    position: absolute;
    top: 50%; /* Position the text at the vertical center */
    left: 50%; /* Position the text at the horizontal center */
    transform: translate(-50%, -35%); /* Center the text precisely */
    z-index: 1; /* Ensure the text appears above the image */
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 7px;
    text-shadow: 0 2px 15px rgba(0,0,0,0.5);
    color: white;
}


/* media queries */
/* media queries */

/* Extra large devices (large desktops) */
@media (max-width: 450px) {

    .rightCol {
        padding: 0 1rem;
    }

  }
  