{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
 Password Reset
{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mainContainer">
        <div class="row">
            <div class="col">
                <h3>Reset Password</h3>
                <p class="checkInbox">Please check your inbox and follow the instructions.</p>
            </div>
        </div>
    </div>  
{% endblock %}