{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% block title %}
 Password Reset
{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mainContainer">
    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <h3>Reset Password</h3>
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary submitButton">Submit</button>
            </form>
        </div>
    </div>
</div>  


{% endblock %}