{% load static %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col">
            <div class="justify-content-center d-flex align-items-baseline footerFlex">
                <a href="
                {% if user.is_authenticated %}
                    {% url 'post_home' %}
                {% else %}
                    {% url 'welcome' %}
                {% endif %}">
                    <div class="footerLogo">
                        <img  src="{% static 'images/welcome_brain.png' %}" alt="Concept logo">
                    </div>
                </a>
                <div class="d-flex justify-content-center ">
                    <a class="footer-brand footerLogoText me-auto" href="
                    {% if user.is_authenticated %}     
                        {% url 'post_home' %}
                    {% else %}
                        {% url 'welcome' %}
                    {% endif %}">CONCEPT</a>
                    <p class="ms-3 copyrightInfo ">Copyright &copy; 2023 Brandon O'Regan</p>
                </div>
            </div>
        </div>
    </div>
</div>