<h1 class="mostRecentTitle">Most Recent Post</h1>
<div id="album-rotator" class="album-rotator">
<div id="album-rotator-holder" class="album-rotator-holder">
    <a target="_top" class="album-item album-item-style" href="https://twitter.com/smpnjn">
        <span class="album-details">
            <span class="icon"><i class="far fa-at"></i> smpnjn</span>
            <span class="title">Click to</span>
            <span class="subtitle">Follow</span>
            <span class="subtext">On Twitter</span>
        </span>
    </a>
    <a target="_top" class="album-item album-item-style" href="https://fjolt.com/article/apple-cards-webl-gl-javascript">
        <span class="album-details">
            <span class="title">Read the</span>
            <span class="subtitle">Tutorial</span>
            <span class="subtext">View tutorial for this effect</span>
        </span>
    </a>
    <a target="_top" class="album-item album-item-style" href="https://twitter.com/smpnjn">
        <span class="album-details">
            <span class="title">Finally</span>
            <span class="subtitle">We Go</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </a>
    <a target="_top" class="album-item album-item-style" href="https://twitter.com/smpnjn">
        <span class="album-details">
            <span class="title">And</span>
            <span class="subtitle">One More</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </a>
    <a class="album-item album-item-style" href="https://twitter.com/smpnjn">
        <span class="album-details">
            <span class="title">And</span>
            <span class="subtitle">Finally..</span>
            <span class="subtext">Some text to describe this item</span>
        </span>
    </a>
</div>
</div>