{% load static %}

<!-- Title Subject Row -->
<div class="row">
    <div class="col text-center ">
        <h1>{{ post.title }}</h1>
        <h2>{{ post.about }}</h2>
    </div>
</div>
<!-- Image and Content Row-->
<div class="row mt-2 pt-4 border-top">
    <div class="col">
        <div class="imageContainer">
            <img src="{% if post.post_image %}{{ post.post_image.url }}{% else %}{% static 'images/welcome_brain.png' %}{% endif %}" alt="Post supporting image">
        </div>
        <p>
            {{ post.content }}
        </p>
    </div>
</div>
<!-- Author, Date, Contact Row -->
<div class="row authorRow">
    <div class="col">
        <div class="d-flex align-items-end ">
        <!-- TODO: Add anonymous author options when creating a post -->
        <!-- TODO: Save no profile pic svg to images then replace for author image below -->
        {% if post.author == None %}
        <p>Anonymous Author</p>
        {% else %}
            <div class="authorImageContainer">
                <img src="{% if post.author.profile.profile_picture %}{{ post.author.profile.profile_picture.url }}{% else %}{% static 'images/person-circle.svg' %}{% endif %}" alt="Author profile picture">
            </div>
                <p class="ms-3">Author: {{ post.author }}</p>
                <a class="ms-auto me-auto" href="{% url 'inbox_with_user' user_username=post.author %}">
                    <p >Contact Author <img src="{% static 'images/envelope.svg' %}" alt=""></p>
                    
                </a>
            {% endif %}
            <p class=" ">
                Posted: <time>{{ post.date|date:"d M Y" }}</time>
            </p>
        </div>
    </div>
</div>       