<h1 class="mostRecentTitle">Most Recent Post</h1>
<div id="album-rotator" class="album-rotator">
<div id="album-rotator-holder" class="album-rotator-holder">
    <form action="{% url 'post_create' %}" method="get" class="album-item album-item-style">
        {% csrf_token %}
        <button type="submit" class="btn">
            <span class="album-details">
                <span class="title">Create a post</span>
                <span class="subtitle">It doesn't have to be perfect!</span>
                <span class="subtext">Do it annonymusly</span>
            </span>
        </button>
    </form>
    {% for post in all_posts %}
        <form action="{% url 'post_thread' post.id %}" method="get" class="album-item album-item-style">
            {% csrf_token %}
            <button type="submit" class="btn">
                <span class="album-details">
                    <span class="title">{{ post.title }}</span>
                    <span class="subtitle">{{ post.about }}</span>
                    <span class="subtext">{{ post.author.username }}</span>
                </span>
            </button>
        </form>
    {% endfor %}
</div>
</div>

